Visual Studio 2008/Project5/Cook32BitInstallsheet/Installer/Web References/wslogger/ws_logger (2019_03_06 00_29_43 UTC).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ccisupportsite.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ccisupportsite.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ccisupportsite.net/">
      <s:element name="Logger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUnid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iBatchid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoggerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoggerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUnid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindNextIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Testd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestdResult" type="tns:MyTest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyTest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="test" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoggerSoapIn">
    <wsdl:part name="parameters" element="tns:Logger" />
  </wsdl:message>
  <wsdl:message name="LoggerSoapOut">
    <wsdl:part name="parameters" element="tns:LoggerResponse" />
  </wsdl:message>
  <wsdl:message name="FindNextIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindNextId" />
  </wsdl:message>
  <wsdl:message name="FindNextIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindNextIdResponse" />
  </wsdl:message>
  <wsdl:message name="TestdSoapIn">
    <wsdl:part name="parameters" element="tns:Testd" />
  </wsdl:message>
  <wsdl:message name="TestdSoapOut">
    <wsdl:part name="parameters" element="tns:TestdResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LoggerSoap">
    <wsdl:operation name="Logger">
      <wsdl:input message="tns:LoggerSoapIn" />
      <wsdl:output message="tns:LoggerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindNextId">
      <wsdl:input message="tns:FindNextIdSoapIn" />
      <wsdl:output message="tns:FindNextIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Testd">
      <wsdl:input message="tns:TestdSoapIn" />
      <wsdl:output message="tns:TestdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LoggerSoap" type="tns:WS_LoggerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logger">
      <soap:operation soapAction="http://ccisupportsite.net/Logger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNextId">
      <soap:operation soapAction="http://ccisupportsite.net/FindNextId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Testd">
      <soap:operation soapAction="http://ccisupportsite.net/Testd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LoggerSoap12" type="tns:WS_LoggerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logger">
      <soap12:operation soapAction="http://ccisupportsite.net/Logger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNextId">
      <soap12:operation soapAction="http://ccisupportsite.net/FindNextId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Testd">
      <soap12:operation soapAction="http://ccisupportsite.net/Testd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Logger">
    <wsdl:port name="WS_LoggerSoap" binding="tns:WS_LoggerSoap">
      <soap:address location="http://ccisupportsite.com/wslogger/ws_logger.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LoggerSoap12" binding="tns:WS_LoggerSoap12">
      <soap12:address location="http://ccisupportsite.com/wslogger/ws_logger.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>